<section class ="info-tiles">
     <div class ="tile is-ancestor has-text-centered ">
          <div class =" tile is-parent ">
               <article class ="tile is-child box ">
                    <p class =" title ">{{measurements.length}} </p>
                    <p class =" subtitle ">Anzahl </p>
                    </article >
                    </div >
                    <div class ="tile is-parent ">
                    <article class =" tile is-child box ">
                    <p class ="title">{{precisionRound(maxTemp ,1) }}°C</p>
                   <p class =" subtitle ">Maximal </p>
                    </article >
                    </div >
                    <div class =" tile is-parent ">
                    <article class =" tile is-child box ">
                    <p class =" title " >{{ precisionRound (minTemp , 1 )}}°C</p>
                    <p class =" subtitle ">Minimal </p>
                    </article >
                    </div >
                    <div class =" tile is-parent ">
                    <article class =" tile is-child box ">
                    <p class =" title " >{{precisionRound (dsTemp ,1) }}°C</p>
                    <p class =" subtitle "> Durchschnitt </p>
                    </article >
          </div >
          </div >
     </section >
    